/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END: reset CSS */

html {
	color: #676a6a;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
}
body {
	line-height: 1.25;
	padding: 15px;
}	

nav {
	float: right;
}
a {
	color: #676a6a;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.cta {
	color: #6F8FAF;
}
a.cta:hover {
	color: #EFACED;
}
h1 a {
	color: #000;
	font-size: 40px;
	font-weight: bold;
}
h1 a:hover {
	color: #5A5A5A;
	text-decoration: none;
}
h3 {
	background: #fff;
	color: #000;
	font-size: 100px;
	font-weight: bold;
	margin: 20px 0;
	text-align: center;
	padding: 20px 10px;
}
h4 {
	font-weight: bold;
}
.box {
	background-color: #F4F7FC;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
	float: left;
}
.box.col {
	margin: 10px 12px;
	width: 375px;
}
.inner {
	margin: 30px;
}
.podcast-cta {
	clear: both;
	text-align: center;
}
.podcast-player {
	border-radius: 13px;
	display: inline-block; 
	height: 83px;
	overflow: hidden;  
	width: 250px; 
}
.icon {
	border-radius: 13px; 
	height: 60px;
	padding: 20px 0;
	width: auto; 
}
#embedPlayer {
	margin: 0 auto;text-align: center;
}
/* top nav */
.nav { 
	position: relative; 
}

.nav-links {
  overflow: hidden;
  background-color: #333;
  position: absolute;
  right: 0;
  top: 40px;
  width: 300px;
}

.nav-links a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.show-nav-item {
	display: block;
}
.hide-nav-item {
	display: none;
}

.hamburger-container {
  display: inline-block;
  float: right;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* about */
.profile-pic {
	float: left;
	height: 300px;
	padding: 20px;
}
.logo {
	margin-left: 260px;
	vertical-align: top;
	width: 30px;
}

footer {
	bottom: 0;
	position: fixed;
	width: 100%;
}
.copyright { 
	text-align: center;
}